@model Release_1.service_bd




@using (Html.BeginForm())
{
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="~/Content/Admin/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Content Header (Page header) -->
        <h2>
            Service Form
            <small>Preview</small>
        </h2>
        <div class="form-group">
            <label for="exampleInputService">Service Name</label>
            @Html.TextBoxFor(model => model.service_name, new  { @class = "form-control"  })
        </div>
        <div class="radio">
            <h4>Service State</h4>
            <label> @Html.RadioButtonFor(model => model.service_state, "1") Active </label>
            <label> @Html.RadioButtonFor(model => model.service_state, "0") Inactive </label>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </body>
}